/* #root {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.62),
      rgba(0, 0, 0, 0.62)
    ),
    url("../images/pexels-steve-johnson-1006060.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
} */
html {
  scroll-behavior: smooth;
}
.common {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.62),
      rgba(0, 0, 0, 0.62)
    ),
    url("../images/pexels-steve-johnson-1006060.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
