.balance{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b2131;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 800;
}

.balance .title{
  font-size: 16px;
  margin: 0;
}

.balance .actual-balance {
  font-size: 20px;
  margin: 0;
}