.formfooter {
    background-color: #FFFFFF;
    width: 270px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.formfooter h4 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: small;
}

.formfooter span {
    
    margin-left: 5px;
}

.formfooter a {
    color: #5F5F5F;
    text-decoration: none;
}