.login {
    background-color: #e6e6e6;
    width: 250px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.login label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login input {
    width: 95%;
    height: 30px;
    padding: 6px;
    margin: 5px auto 10px;
    border-radius: 5px;
    border: none;
    font-size: medium;
}

.login span {
    margin-left: 53px;
    color: #5f5f5f;
}

.login button {
    border: 1px solid #1f2833;
    width: 100%;
    padding: 10px;
    margin: 5px auto 10px;
    border-radius: 15px;
    color: white;
    background-color: #1f2833;
    font-family: 'Poppins', sans-serif;
}