.tabs {
  padding: 2rem 1rem;
  margin: 0 auto;
}

.tabs-nav{
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 0.5rem;
  padding: 0;
}

ul.tabs-nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

ul.tabs-nav li:nth-child(2) {
  border-radius: 0;
}

ul.tabs-nav li:nth-child(3) {
  border-radius: 0;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

ul.tabs-nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.tabs-nav li.active {
  background: #39A2DB;
}
